# Python
**.pyc
**/__pycache__/*
**/.pytest_cache/*
**/build/*
**-checkpoint.ipynb
**.egg-info/
**-py3-none-any.whl
**.tar.gz
**.zip
**.ipynb
**.output.ipynb
**.processed.ipynb

# CSV
**.csv

# PDF
**.pdf

# Image files
**.png
